.img-container{
    text-align: center;
    width: 200px;
    height: 200px;
    margin: 10px;
}
.card:hover{
    transform: scale(1.05);
    transition: .3s ease;
}
.card{
    border:none !important;
}
img{
    max-height: 100%;
    max-width: 100%;
   
} 
